@import "./theme/antd/ant-scss-var.scss";
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

html{
	scroll-behavior: smooth;
}

.section {
	margin-bottom: 80px;
}

.between-sec-intro{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-bottom: 50px;

	@include md{
		.sec-title{
			.title{
				font-size: 40px;
			}
		}
	}
	@include sm{
		display: block;
		margin-bottom: 20px;
		.sec-title{
			text-align: center;
		}
		.action{
			text-align: center;
			margin-top: 20px;
		}
	}
}

.section-intro {
	text-align: center;

	// .title {
	// 	font-size: 30px;
	// 	letter-spacing: normal;
	// 	position: relative;
	// 	padding-bottom: 5px;
	// 	font-weight: 600;
	// }
	// .title::after {
	// 	content: "";
	// 	height: 3px;
	// 	width: 100px;
	// 	background-color: $primary-color;
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 50%;
	// 	transform: translateX(-50%);
	// }

	.categories {
		margin-bottom: 30px;

		.ant-tabs {
			.ant-tabs-tab-btn {
				font-size: 20px;
				font-weight: bold;
			}
			.ant-tabs-nav::before {
				display: none !important;
			}
		}
	}

	@media (max-width: 768px) {
		.title {
			font-size: 25px;
		}

		.categories {
			margin: 10px 0;
			.ant-tabs {
				.ant-tabs-nav {
					.ant-tabs-nav-operations {
						display: none !important;
					}
					.ant-tabs-tab-btn {
						font-size: 14px;
					}
				}
			}
		}
	}
}


//Error page css //
.error-page {
	padding: 120px 0;
	.error-content {
		text-align: center;
		h4 {
			color: $primary-color;
			font-size: 25px;
			font-weight: 700;
		}
		h1 {
			font-size: 180px;
			font-weight: 800;
			color: #393d72;
			line-height: 150px;
		}
		p {
			font-size: 20px;
			font-weight: 500;
			color: #393d72;
			padding: 30px 0 40px;
		}

		a {
			font-size: 20px;
			font-weight: 600;
			padding: 15px 40px;
			background-color: $primary-color;
			color: white;
			border-radius: 10px;
		}

		@include xs {
			h1 {
				font-size: 80px;
				font-weight: 700;
				line-height: 60px;
			}
		}
	}
}
