@import "./theme/antd/ant-scss-var.scss";

@import "abstracts/mixins";
@import "abstracts/example";
@import "vendors/index.scss";
@import "base/helper";
@import "base/plugins.scss";
@import "custom-style.scss";
@import "./modules/index.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
