h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

html {
  scroll-behavior: smooth;
}

textarea:focus,
input:focus {
	outline: none !important;
}
* {
	outline: none !important;
	&::after,
	&::before {
		outline: none !important;
	}
}



//Error page css //
.error-page {
  padding: 120px 0;
  .error-content {
    text-align: center;
    h4 {
      color: $primary-color;
      font-size: 25px;
      font-weight: 700;
    }
    h1 {
      font-size: 180px;
      font-weight: 800;
      color: #393d72;
      line-height: 150px;
    }
    p {
      font-size: 20px;
      font-weight: 500;
      color: #393d72;
      padding: 30px 0 40px;
    }

    a {
      font-size: 20px;
      font-weight: 600;
      padding: 15px 40px;
      background-color: $primary-color;
      color: white;
      border-radius: 10px;
    }

    @include xs {
      h1 {
        font-size: 80px;
        font-weight: 700;
        line-height: 60px;
      }
    }
  }
}
