.order-page-inner {
  padding: 1rem 0;
}

.customer-order-list-sidebar {
  border-radius: 0.5rem;
  .order-list-header {
    background-color: #e2e8f0;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: black;
    font-size: 1rem;
  }
  .order-card {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e2e8f0;
    background-color: white;
    width: 100%;
    cursor: pointer;
    h4 {
      font-size: 1rem;
      color: black;
    }
    .cancel-btn {
      padding: 3px 10px;
      border-radius: 20px;
      background: #f1772626;
      color: #f17626;
      font-size: 0.75rem;
      text-transform: uppercase;
    }
  }
  .order-card:hover {
    background-color: #f7fafc;
  }
  .order-card:focus {
    background-color: #fff5f5;
  }
}

.order-item-table {
  margin-bottom: 1.5rem;
  .product-img {
    max-width: 100px;
    margin: 0px auto;
  }
}

.order-timeline {
  margin-bottom: 2.5rem;
  .timeline-step {
    position: relative;
    z-index: 1;
  }
  .timeline-step::after {
    border-left: 2px dashed #d4dce1;
    content: "";
    position: absolute;
    height: 100%;
    left: 36%;
    width: 2px;
    top: 0px;
    z-index: -1;
  }
}
