#home-product-slider-section {
  // SwiperJs Modification
  .swiper {
    .swiper-custom-bullet {
      width: 45px !important;
      height: 4px !important;
      border-radius: 0 !important;
    }

    .swiper-pagination-bullet-active {
      opacity: 1 !important;
      background: $primary-color !important;
    }
    .swiper-wrapper {
      padding-bottom: 40px;
    }
  }
}
