.product-card-single {
  border-radius: 5px;
  border: 1px solid #e1e1e1;
  img {
    border-radius: 5px;
  }
  .product-description {
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    @include sm {
      padding: 10px;
      row-gap: 5px;
      text-align: center;
    }
    .title-holder {
      display: flex;
      align-items: center;
      a {
        @include sm {
          font-size: 18px;
        }
      }
      svg {
        width: 25px;
        height: 25px;
        margin: 0 10px;
        @include sm {
          width: 16px;
          height: 16px;
          margin: 0 5px;
        }
      }
    }
    .category-btn {
      button {
        border: 1px solid #e1e1e1;
        text-transform: uppercase;
        padding: 2px 8px;
        color: #1976D2;
        font-size: 12px;
        font-weight: 600;
      }
    }
    .review-box {
      display: flex;
      align-items: center;
      margin-top: 11px;
      @include sm {
        margin: 0 auto;
      }
      svg {
        color: #f6d000;
        font-size: 18px;
        @include sm {
          font-size: 14px;
        }
      }
    }
    .price-box {
      display: flex;
      align-items: center;
      column-gap: 10px;
      @include sm {
        flex-direction: column;
        column-gap: 4px;
      }
      h3 {
        font-size: 20px;
        @include sm {
          font-size: 16px;
        }
      }
      h5 {
        @include sm {
          font-size: 12px;
        }
      }
    }
    .cart-btn {
      button {
        padding: 7px 10px;
        color: #1976D2;
        border: 1px solid #1976D2;
        border-radius: 5px;
      }
      @include sm {
        text-align: center;
      }
    }
  }
}
