.sidebar-menu-wrapper {
    background-color: white;
    margin-top: -23px;
    @media (max-width: 991px) {
      display: none;
    }

    ul {
        li {
            border: 1px solid #ededed;
            cursor: pointer;
            svg {
                display: inline-block;
            }
            a {
                padding: 15px;
                display: flex;
                justify-content: space-between;
                color: black;
            }
        }
    }
}
