.product-image-gallery {
    .bottom {
        padding-top: 0 !important;
    }
    @include sm {
        margin: 0 auto;
        .image-gallery-thumbnail-image {
            width: 70% !important;
            margin: 0 auto;
        }
        .image-gallery-image {
            width: 70% !important;
            margin: 0 auto;
        }
    }
}

.product-info-box {
    .info-meta-1 {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #dee2e6;
        .product-name {
            color: $heading-color;
            font-size: 30px;
            font-weight: 600;
            padding-bottom: 15px;
            @include xs {
                font-size: 20px;
                padding-bottom: 5px;
            }
        }

        .meta-list {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 10px;
            ul {
                font-size: 14px;
                li {
                    margin: 0;
                }
            }
        }
    }

    .product-price {
        font-size: 24px;
        font-weight: 600;
        color: $primary-color;
        padding-bottom: 20px;
        border-bottom: 1px solid #dee2e6;
        del {
            color: #b2bfce;
            font-size: 18px;
        }
    }

    .info-meta-2 {
        padding: 20px 0;

        ul {
            li {
                color: #22254a;
                font-size: 16px;
                margin-bottom: 10px;
                span {
                    font-weight: 600;
                }
            }
        }
    }

    .info-meta-3 {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        gap: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #dee2e6;

        .product-quantity {
            button {
                padding: 10px 15px;
                background-color: #eef0f1;
                font-size: 14px;
                font-weight: 500;
                transition: all 0.2s ease-in;
            }
            span {
                display: inline-block;
                width: 40px;
                text-align: center;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .cart-btn,
        .wishlist-btn,
        .buy-now-btn {
            button {
                color: $primary-color;
                background-color: #ff7b0033;
                border-radius: 5px;
                padding: 10px 15px;
                font-size: 14px;
                font-weight: 500;
                transition: 0.3s;
                svg {
                    display: inline-block;
                }
                &:hover {
                    color: #ffffff;
                    background: $primary-color;
                }
            }
        }
    }

    .share-product {
        margin-top: 30px;
        display: flex;
        align-items: center;
        h5 {
            color: $heading-color;
            font-size: 16px;
            font-weight: 700;
            margin-right: 20px !important;
        }
        .socials {
            display: flex;
            justify-content: center;
            gap: 5px;
            a {
                height: 30px;
                width: 30px;
                display: grid;
                place-content: center;
                font-size: 16px;
                color: white;
                border-radius: 10px;
            }
        }
    }
}

.product-delivery-info {
    width: 100%;
    height: 100%;
    background-color: #ff7b0011;
    padding: 20px;
    .info-box {
        h6 {
            font-size: 16px;
            font-weight: 700;
            padding-bottom: 10px;
        }
        ul {
            margin: 0 !important;
            li {
                display: flex;
                align-items: center;
                text-transform: capitalize;
                margin-bottom: 5px;
                svg {
                    color: $primary-color;
                    margin-right: 5px;
                }
            }
        }
    }
    hr {
        margin: 20px 0;
        height: 0;
        border-top: 1px solid #00000023;
    }
}

.products-details-tab-area {
    background: #ff7b0011;
    padding: 100px 0 120px;
    @include xs {
        padding: 50px 0 70px;
    }

    .ant-tabs-nav {
        margin-bottom: 30 !important;
        .ant-tabs-nav-list {
            .ant-tabs-tab {
                color: $heading-color;
                font-size: 20px;
                font-weight: 700;
                @include xs {
                    font-size: 16px;
                }
            }
        }
    }

    .ant-tabs-content-holder {
        background-color: white !important;
        padding: 40px;
        @include xs {
            padding: 0;
        }
    }

    .product-description {
        .specification-table {
            .ant-descriptions-row {
                th {
                    width: 260px;
                }
                @include xs {
                    th {
                        width: auto;
                    }
                    th,
                    td {
                        padding: 10px;
                    }
                }
            }
        }
    }

    .product-review-form {
        @include xs {
            padding: 10px;
        }
        .intro-message {
            margin-bottom: 29px;
            h2 {
                color: #22254a;
                font-size: 20px;
                line-height: 30px;
                font-weight: 600;
                margin: 0 0 4px;
            }
        }
    }

    .review-box {
        @include xs {
            padding: 10px;
            .review-card {
                padding: 15px;
            }
        }
        .review-card {
            padding: 30px;
            border: 1px solid #ededed;
            margin-bottom: 20px;
            display: flex;
            gap: 20px;
            align-items: center;
            @include xs {
                padding: 15px;
            }

            .img-holder {
                flex: 0 0 80px;
                height: 80px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }

            .text-holder {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
            }
        }
    }
}
