.wishlist-container{
    .wishlist-card{
        position: relative;
        display: flex;
        background-color: #ffffff;
        border-radius: 8px;
        padding: 20px;
        border: 1px solid #ebebeb;
        -webkit-transition: 0.3s;
        transition: 0.3s;

        .product-img{
            flex: 0 0 30%;
            max-width: 30%;
            img{
                width: 100%;
                height: auto;
            }
        }
        .product-info{
            flex: 0 0 70%;
            max-width: 70%;
            padding-left: 20px;
            .product-name{
                display: -webkit-box;
                color: #191919;
                font-size: 16px;
                overflow: hidden;
                font-weight: 400;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                cursor: pointer;
                -webkit-transition: 0.3s;
                transition: 0.3s;
            }
            .product-price {
                margin-top: 20px;
                font-size: 20px;
                font-weight: 600;
                color: $primary-color;
            }

        }
        &:hover {
            box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
            .product-info{
                .product-name{
                    color: $primary-color;
                }
            }
        }
    }
}