@import "../../theme/antd/ant-scss-var.scss";

footer {
  background-color: #22254a;

  .footer-content {
    border-bottom: 1px solid #353862;
    padding: 50px 0;

    .footer-info-area {
      .footer-logo {
        margin-bottom: 20px;
        img {
          width: 100px;
        }
      }
      .text {
        margin-bottom: 20px;
        p {
          color: #a5a7c2;
          font-size: 16px;
          font-weight: 500;
        }
      }
      .social-links {
        ul {
          list-style: none;
          display: flex;
          gap: 20px;
          li {
            font-size: 16px;
            padding: 5px;
            border-radius: 3px;
            a {
              text-decoration: none;
              color: #ffffff;
            }
          }
        }
      }
    }

    .footer-widget {
      h3 {
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 20px;
      }
      .footer-links {
        ul {
          li {
            a {
              text-decoration: none;
              display: block;
              color: #a5a7c2;
              font-size: 16px;
              margin-bottom: 8px;
              position: relative;
              width: fit-content;
              font-weight: 400;

              &::after {
                content: "";
                height: 1px;
                width: 0;
                background-color: #a5a7c2;
                position: absolute;
                bottom: 0;
                left: 0;
                transition: 0.3s;
              }
              &:hover::after {
                width: 100%;
              }
            }
          }
        }
      }
      .contact-info {
        ul {
          list-style: none;
          li {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #a5a7c2;
            margin-bottom: 20px;
            svg {
              flex: 0 0 20px;
              font-size: 16px;
            }
            a {
              color: #a5a7c2;
            }
          }
        }
      }
    }
  }
  .copyright-text {
    text-align: center;
    color: #a5a7c2;
    padding: 20px 0;
    @media (max-width: 768px) {
      padding-bottom: 75px;
    }
  }

  .ftr-app-btm-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #ffff;
    display: none;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);

    @media (max-width: 991px) {
      display: flex;
    }

    .ftr-btn-nav-itm {
      flex: 0 0 25%;
      max-width: 25%;
      a {
        display: flex;
        justify-content: center;
        flex-direction: column;

        align-items: center;
        svg {
          font-size: 18px;
          color: $primary-color;
        }
        h6 {
          margin: 0;
          line-height: 1;
          font-size: 13px;
          margin-top: 4px;
          color: $primary-color;
          font-weight: 500;
        }
      }
    }
  }
}

.app-header {
  width: 100%;
  z-index: 999;
  background: #fff;
  height: auto;

}
.app-hdr-inr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  .app-logo-blk img {
    max-width: 150px;
  }

  .app-search-blk {
    width: 800px;
  }

  .app-nav-blk {
    display: flex;
    justify-content: flex-end;
    ul {
      display: flex;
      align-items: center;
      margin: 0;
      li {
        display: inline-block;
        &.hot-line {
          margin-right: 20px;
          a {
            display: flex;
            align-items: center;
            color: black;
            font-weight: 500;
            font-size: 14px;
            svg {
              margin-right: 10px;
              font-size: 25px;
            }
            div {
              p {
                &:nth-child(1) {
                  color: #666;
                }
              }
            }
          }
        }
        &.cart-icn,
        &.wishlist-icn {
          position: relative;
          .mini-item-counter {
            position: absolute;
            bottom: -6px;
            right: 0px;
            font-size: 12px;
            font-weight: 700;
            background-color: #fcb800;
            border-radius: 50%;
            min-width: 18px;
            padding: 0 5px;
            height: 18px;
            text-align: center;
            line-height: 18px;
          }
        }
        &.auth-btn {
          svg {
            color: black;
            font-size: 25px;
          }
        }
        a {
          font-size: 14px;
          font-weight: 500;
          text-transform: capitalize;
          line-height: 1;
          color: black;
        }
        svg {
          color: black;
          margin: 0px 8px;
          font-size: 25px;
          cursor: pointer;
        }
      }
    }
  }

}

.auth-links{
  a{
    display: block;
    color: #22254a;
    border-bottom: 1px solid #666;
  }
}

.app-hdr-dwn-menu {
  box-shadow: 0 0 10px #dddd;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;

  .app-hdr-dwn-inr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .category-menu {
      .ant-select-selection-item {
        color: black;
        font-size: 20px;
        font-weight: 500;
      }
      .ant-select-arrow {
        color: black;
        font-weight: 500;
      }
    }

    .create-shop-btn {
      button {
        color: #fff;
        display: flex;
        align-items: center;
        min-height: 50px;
        background-color: $primary-color;
        padding: 8px;
        svg {
          margin: 0 5px;
        }
      }
    }
  }
}

.app-mobile-header {
  background: $primary-color;
  padding: 8px 0;
  width: 100%;
  box-shadow: 0 0 10px #dddd;
  z-index: 999;
  position: relative;
  // height: 105px;

  .app-mbl-top-hd-blk {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .lft-blk,
  .rht-blk {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .rht-blk {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .lft-blk {
    display: flex;
    align-items: center;
  }
  .lft-blk button {
    flex: 0 0 30px;
    max-width: 30px;
    font-size: 28px;
    color: #fff;
  }

  .lft-blk .logo img {
    max-width: 40px;
    margin-left: 15px;
  }
  .rht-blk button svg {
    font-size: 28px;
    color: #fff;
  }
  .rht-blk button:last-child {
    margin-left: 10px;
  }
}

.app-mobile-scroll-header {
  display: flex;
  align-items: center;
  padding: 10px 0;
  button {
    flex: 0 0 auto;
    max-width: 40px;
    color: #ffff;
    font-size: 30px;
  }
  .app-mobile-sc-src {
    flex: 1;
    width: 100%;
    margin: 0 10px;
  }
}

.mobile-inner-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  background: $primary-color;
}

.mobile-inner-header span {
  color: #fff;
}
